@import "./functions";
//  Background Colors;

$clr-bg: #1B2330;
$clr-bg-intro: hsl(217, 28%, 15%);
$clr-bg-main: hsl(218, 28%, 13%);
$clr-bg-footer: hsl(216, 53%, 9%);
$clr-bg-testimonials: hsl(219, 30%, 18%);
$clr-bg-get-started: #1B2330;

// * Primary Colors

$clr-acc-cyan: hsl(176, 68%, 64%);
$clr-acc-blue: hsl(198, 60%, 50%);
$clr-acc-light-red: hsl(0, 100%, 63%);

// * Neutral Colors

$clr-white: #FFF;
$clr-clear: rgba(0, 0, 0, 0);

// * Font and Line Height sizes

$fs-700: rem(24);
$lh-700: rem(36);
$fs-500: rem(18);
$lh-500: rem(24);
$fs-400: rem(14);
$lh-400: rem(21);
$fs-300: rem(12);
$lh-300: rem(14);


// * Media queries breakpoint sizes

$desktop-size: 40em;







