@import "./resets", "./variables", "./functions", "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
    background-color: $clr-bg-intro;
    background-repeat: no-repeat;
    color: $clr-white;
    min-width: 375px;
}

h1 {
    @include font-setup($fs-700, $lh-700, 700);
    @include font-raleway;
    text-align: center
}

h2 {
    @include font-setup($fs-500, $lh-500, 700);
    @include font-raleway;
    text-align: center
}

p {
    @include font-setup($fs-400, $lh-400, 400);
    @include font-open-sans;
    text-align: center;
}

button {
    display: block;
    background: linear-gradient(134.79deg, #63E1D9 -42.11%, #34A0CD 100%);
    color: $clr-white;
    border: none;
    border-radius: 24px;
    padding-block: rem(16);
    margin-inline: auto;
    cursor: pointer;

    &:active {
        background: linear-gradient(134.79deg, #63E1D9 -42.11%, #63E1D9 100%);
    }
}


// * ====================== HEADING Styles ===========================


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : {
        top: rem(24);
        left: rem(24);
        right: rem(24);
    };
    @include desktop {
        margin : {
            top: rem(73);
            left: rem(80);
            right: rem(80);
        };
    }

    img {
        height: rem(24);
        @include desktop {
            height: rem(52);
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        gap: rem(16);
        @include desktop {
            gap: rem(57);
        }
    }

    li {
        display: block;
        text-align: center;

        &:nth-child(1) {
            width: 50px;
        }

        &:nth-child(2) {
            width: 30px;
        }

        &:nth-child(3) {
            width: 40px;
        }
        @include desktop {
            &:nth-child(1) {
                width: 60px;
            }
    
            &:nth-child(2) {
                width: 40px;
            }
    
            &:nth-child(3) {
                width: 60px;
            }
        }

        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }

        a {
            @include link;
            @include font-raleway;
            font-size: $fs-300;
            line-height: $lh-300;

            @include desktop {
                font-size: rem(16);
                line-height: rem(18);   
            }
        }
    }  
}


// * =================== HERO SECTION Styles ========================

.hero-sct {
    padding-inline: rem(24);
    margin-top: rem(48);
    background-size: contain;
    background: url(../images/bg-curvy-mobile.svg)
                    no-repeat 
                    bottom calc(45vh - 30vw)
                    left 0vw,
                linear-gradient(
                    to top,
                    $clr-bg-main 0vh,
                    $clr-bg-main calc(45vh - 30vw + 10px),
                    $clr-bg-intro calc(45vh - 30vw + 10px),
                    $clr-bg-intro 100vh
      );
    @include desktop {
        background: url(../images/bg-curvy-desktop.svg)
                    no-repeat 
                    bottom 0
                    left 0;
        background-size: contain;
        padding-bottom: rem(120);
    };

    & > * {
        max-width: 325px;
        display: block;
        margin-inline: auto;
    }

    img {
        display: block;
        width: 100%;
        max-width: 327px;
        margin-bottom: rem(33);
        margin-inline: auto;
        @include desktop {
            max-width: rem(720);
            margin-bottom: rem(36);
        }
    }

    h1 {
        margin-bottom: rem(18.5);
        max-width: 375px;
        @include desktop {
            max-width: 734px;
            font-size: rem(40);
            line-height: rem(60);
        }
    }

    p {
        margin-bottom: rem(32);
        @include desktop {
            max-width: 590px;
            font-size: rem(20);
            line-height: rem(30);
        }
    }

    button {
        padding-inline: rem(81);
    }
}


// * =================== FEATURES SECTION Styles ========================

.features-sct {
    padding-top:  rem(120);
    background-color: $clr-bg-main;
    padding-inline: rem(28);

    @include desktop {
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        @include flex(column);
        @include desktop {
            width: 40%;
            p {
                width: 70%;
            }
        }
        img {
            width: 70px;
            margin-bottom: rem(32);
        }

        h2 {
            margin-bottom: rem(8);
        }

        p {
            margin-bottom: rem(80);
        }
    }
}


// * =================== PRODUCTIVE SECTION Styles ========================

.productive-sct {
    padding-inline: rem(28);
    background-color: $clr-bg-main;
    @include desktop {
        padding-top: rem(24);        @include flex(row);
        padding-inline: 7%;
        gap: rem(56);
    }

    img {
        display: block;
        width: 100%;
        padding-bottom: rem(48);
        @include desktop {
            height: auto;
            width: 60%;
        }
    }

    &__info-card {
        h2 {
            text-align: center;
            padding-bottom: rem(16);
            @include desktop {
                text-align: left;
                font-size: rem(40);
                line-height: rem(50);
                width: 60%;
            }
        }
        p {
            text-align: left;
            margin-bottom: rem(16);
            @include desktop {
                width: 85%;
                font-size: rem(16);
            }
        }

        div {
            display: inline;
            border-bottom: 1px solid $clr-acc-cyan;
            padding-bottom: rem(6);
            cursor: pointer;
            
            &:hover {
                border-color: $clr-white;
            }
            &:hover a {
                color: $clr-white;
            }
            &:hover svg {
                filter: saturate(0) brightness(1.5);
            }

            a {
                color: $clr-acc-cyan;
                @include font-open-sans;
                font-size: $fs-300;
                text-decoration: none;
                @include desktop {
                    font-size: rem(16);
                }
            }

            svg {
                transform: translateY(rem(4));
                @include desktop {
                    transform: translateY(rem(3));
                }
            }
        }
    }
}

// * =================== TESTIMONIALS SECTION Styles ========================

.testimonial-sct {
    background-color: $clr-bg-main;
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
    padding-top: rem(136);
    background-position: top rem(126) left rem(36);
    @include desktop {
        @include flex(row);
        gap:rem(40);
        padding-inline: 10%;
        background-position: top rem(126) left 10%;
    }

    &__card {
        display: block;
        background-color: $clr-bg-testimonials;
        width: calc(100% - 96px);
        margin-inline: auto;
        margin-top: rem(24);
        border-radius: rem(4);
        padding: {
            top: rem(24);
            right: rem(20);
            bottom: rem(20);
            left: rem(26);
        };
        @include desktop{
            padding: {
                top: rem(40);
                right: rem(26);
                bottom: rem(26);
                left: rem(26);
            };
            max-width: 30%;
        }

        & > p {
            font-size: rem(10);
            text-align: left;
            padding-bottom: rem(17);
            @include desktop {
                font-size: rem(14);
            }
        }

        &__profile-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: rem(8);
            
            img {
                width: rem(24);
                border-radius: rem(30);
            }
        }
        .--name-bold {
            font-weight: 700;
            text-align: left;
            font-size: rem(10);
            line-height: rem(12);
            margin-bottom: rem(4);
            letter-spacing: rem(1);
            @include desktop{
                font-size: rem(14);
            }
        }
        .--position-small {
            font-size: rem(7);
            line-height: rem(10);
            letter-spacing: rem(1);
            @include desktop{
                font-size: rem(8);
            }
        }
    }
}


// * =================== GET ACCESS SECTION Styles ========================

.get-access-sct {
    background: linear-gradient(
        to bottom,
        $clr-bg-main 0%,
        $clr-bg-main 65%,
        $clr-bg-footer 65%,
        $clr-bg-footer 100%);
        padding-top: rem(160);

    &__card {
        width: calc(100% - rem(40));
        margin-inline: auto;
        background-color: $clr-bg-get-started;
        border-radius: rem(9);
        padding: rem(40) rem(28);
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
        @include desktop {
            width: 65%;
            padding: rem(42) rem(77);
        }

        h2 {
            margin-bottom: rem(16);
            @include desktop {
                font-size: rem(32);
            }
        }

        p {
            margin-bottom: rem(32);
            @include desktop {
                text-align: center;
                max-width: 80%;
                margin-inline: auto;
                margin-bottom: rem(38);
            }
        }

        &__form-wrap{
            position: relative;
            @include desktop{
                @include flex(row);
                gap: rem(28);

            }

            input {
                border: none;
                border-radius: rem(24);
                width: 100%;
                padding-block: rem(16);
                padding-inline: rem(28);
                margin-bottom: rem(24);
                color: $clr-bg-testimonials;
                @include desktop {
                    width: 70%;
                    margin-bottom: 0;
                }
            }

            button {
                width: 100%;
                font-weight: 700;
                @include desktop {
                    width: 30%;
                }
            }

            .--error {
                display: none;
                position: absolute;
                color: #FF4242;
                font-weight: 700;
                left: rem(28);
                bottom: rem(-64);
            }
        }
    }
}

// * =================== FOOTER SECTION Styles ========================

footer {
    padding-top: rem(73);
    padding-inline: rem(28);
    background-color: $clr-bg-footer;
    @include desktop {
        padding-inline: 10% 5%;
        padding-bottom: rem(80);
    }

    & > img {
        width: rem(108);
        margin-bottom: rem(35);
    }

    .__footer-wrap { 
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    
    .__contacts-grid {
        display: grid;
        grid-template-columns: 10% auto;
        row-gap: rem(16);
        @include desktop {
            max-width: 45%;
            grid-template-columns: .25fr 4fr .25fr 2fr;
            grid-template-areas:
                'i1 p1 i2 p2'
                'i1 p1 i3 p3';
            gap: rem(16);
        }
        img {
            padding-top: rem(4);
            @include desktop{
                &:nth-child(1){
                    grid-area: i1;
                }
                &:nth-child(3){
                    grid-area: i2;
                }
                &:nth-child(5){
                    grid-area: i3;
                }
            }
        }
        p {
            text-align: left;
            @include desktop{
                &:nth-child(2){
                    grid-area: p1;
                }
                &:nth-child(4){
                    grid-area: p2;
                }
                &:nth-child(6){
                    grid-area: p3;
                }
            }
        }
    }
    .--list-heading {
        text-align: left;
        font-size: rem(16);
        line-height: rem(22);
        margin-top:rem(48);
        @include desktop {
            margin-top: 0;
        }
        a {
            color: $clr-white;
            text-decoration: none;
            @include font-open-sans;
            &:hover {
                color: $clr-acc-cyan;
            }
            &:active {
                color: $clr-acc-blue;
            }}
    }
    ul {
        a {
            color: $clr-white;
            text-decoration: none;
            @include font-open-sans;
            &:hover {
                color: $clr-acc-cyan;
            }
            &:active {
                color: $clr-acc-blue;
            }
        }
        li {
            margin-top: rem(16);
        }
    }
    .__social {
        @include flex(row);
        gap: rem(10);
        padding-block: rem(56);
        @include desktop {
            padding-block: 0;
        }
        i {
            padding: rem(8);
            border: solid white 1px;
            border-radius: rem(30);
            cursor: pointer;
            &:hover {
                color: $clr-acc-cyan;
                border-color: $clr-acc-cyan;
            }
        
            &:active {
                color: $clr-acc-blue;
                border-color: $clr-acc-blue;
            }
        }
    }
}